In [ ]:
!wget https://www.dropbox.com/s/lb50mk5jujjjqbi/gazeta_jsonl_v2.tar.gz

--2022-10-20 15:11:16--  https://www.dropbox.com/s/lb50mk5jujjjqbi/gazeta_jsonl_v2.tar.gz
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6035:18::a27d:5512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/lb50mk5jujjjqbi/gazeta_jsonl_v2.tar.gz [following]
--2022-10-20 15:11:16--  https://www.dropbox.com/s/raw/lb50mk5jujjjqbi/gazeta_jsonl_v2.tar.gz
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com/cd/0/inline/BvIhlq6JO-pmo9I6AEPblUVFqWNXCtgCJYoQCX9A2WpRUJm7tPNfQ-Zz0fWxABvQWqyZuhI9U4LfVhHkvioGC8q-7b6OAeNHKrG8TnzZ6CcySI5xeZ-wGtWfUCkpI1TTAnPs2tZy1Ebfx6pww8WYW_v8_X-lL8kARhKugENIohH9GA/file# [following]
--2022-10-20 15:11:17--  https://ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com/cd/0/inline/BvIhlq6JO-pmo9I6AEPblUVFqWNXCtgCJYoQCX9A2WpRUJm7tPNfQ-Zz0fWxABvQWqyZuhI9U4LfVhHkvioGC8q-7b6OAeNHKrG8TnzZ6CcySI5xeZ-wGtWfUCkpI1TTAnPs2tZy1Ebfx6pww8WYW_v8_X-lL8kARhKugENIohH9GA/file
Resolving ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com (ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6035:15::a27d:550f
Connecting to ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com (ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BvJ-sIteHSpxaetbEjBXxkDMpaStrhI7jiSlnSxCohfm9IqBByqfPpZVhwGySAA-4-vZlydAnprBCW1AZ71AXf-C1n2FrM6MVNQGpRUyXMQnpq4cH9Lp4YSY5gPu5bRjIC0yHJNoM0xRSYv7yl2cJp_fSwimPgk6-92Mz0XT2heHfX6IaSxzxWw6cLrLYihNYEjLPQ5CrP6Slmtursy4mrpc8qKCVw4WCD0tkpbb2TkU4Efh7wO6o8gxVgD70aN7GyK48X6jpg43LxbjqJrlwT9UFSWN8VOsLX7ppw10AeFDah8OAG-VLbXFrcUj_4dfB1X8we0GQ50207oX7d-Qt6DgCMdaixOLTSlXrV-M_WcJG-KvLnctWNKYyKRILW7ncMTZ7r1Cbw4DLE6APdTXw6fvZkMKg3m6JKRxYO9a3Vp3yg/file [following]
--2022-10-20 15:11:17--  https://ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com/cd/0/inline2/BvJ-sIteHSpxaetbEjBXxkDMpaStrhI7jiSlnSxCohfm9IqBByqfPpZVhwGySAA-4-vZlydAnprBCW1AZ71AXf-C1n2FrM6MVNQGpRUyXMQnpq4cH9Lp4YSY5gPu5bRjIC0yHJNoM0xRSYv7yl2cJp_fSwimPgk6-92Mz0XT2heHfX6IaSxzxWw6cLrLYihNYEjLPQ5CrP6Slmtursy4mrpc8qKCVw4WCD0tkpbb2TkU4Efh7wO6o8gxVgD70aN7GyK48X6jpg43LxbjqJrlwT9UFSWN8VOsLX7ppw10AeFDah8OAG-VLbXFrcUj_4dfB1X8we0GQ50207oX7d-Qt6DgCMdaixOLTSlXrV-M_WcJG-KvLnctWNKYyKRILW7ncMTZ7r1Cbw4DLE6APdTXw6fvZkMKg3m6JKRxYO9a3Vp3yg/file
Reusing existing connection to ucc4c235fb47b69ebaf31e41a86f.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 181540606 (173M) [application/octet-stream]
Saving to: ‘gazeta_jsonl_v2.tar.gz’

gazeta_jsonl_v2.tar 100%[===================>] 173.13M  30.7MB/s    in 6.2s

2022-10-20 15:11:24 (28.0 MB/s) - ‘gazeta_jsonl_v2.tar.gz’ saved [181540606/181540606]

In [ ]:
!tar -xzvf "/content/gazeta_jsonl_v2.tar.gz"

gazeta_train.jsonl
gazeta_val.jsonl
gazeta_test.jsonl

In [ ]:
import json
import numpy as np
import pandas as pd
import re

In [ ]:
records = []
with open("/content/gazeta_test.jsonl", "r") as r:
    for line in r:
        records.append(json.loads(line))

In [ ]:
df_test = pd.DataFrame(columns=('teg','text'))

In [ ]:
for i in range(len(records)):
  fg = records[i].get('url')
  result = re.sub('/', '', re.findall(r'/\w+', fg)[1])
  df_test.loc[i, 'teg'] = result
  fg1 = records[i].get('text')
  df_test.loc[i, 'text'] = fg1
  

df_test

            teg                                               text
0      politics  На этих выходных в Берлине прошли крупные акци...
1      politics  Высокопоставленная американская и израильская ...
2      politics  Одна из руководителей Координационного совета ...
3          army  Россия считает действия ВС США во время учений...
4      business  С 1 сентября в России вступают в силу поправки...
...         ...                                                ...
6788    science  Феерическим взрывом в атмосфере закончился пер...
6789  economics  Глава Минвостокразвития Алексей Чекунков 31 ав...
6790   politics  После взрывов во Врбетице отношения между Чехи...
6791    science  Астрономы впервые наблюдали процесс вспышки св...
6792   politics  Москва никогда не отказывалась обсуждать с Ток...

[6793 rows x 2 columns]

In [ ]:
records = []
with open("/content/gazeta_train.jsonl", "r") as r:
    for line in r:
        records.append(json.loads(line))

In [ ]:
df_train = pd.DataFrame(columns=('teg','text'))

In [ ]:
for i in range(len(records)):
  fg = records[i].get('url')
  result = re.sub('/', '', re.findall(r'/\w+', fg)[1])
  df_train.loc[i, 'teg'] = result
  fg1 = records[i].get('text')
  df_train.loc[i, 'text'] = fg1
  

df_train

             teg                                               text
0           auto  Сегодня транспортный налог начисляется в завис...
1        culture  Словосочетание «музыкальный кинофестиваль» уже...
2       politics  После более чем 12-часовых консультаций Совет ...
3         social  Жертвами урагана «Агата», обрушившегося на Цен...
4      financial  Решение ограничить рост тарифов естественных м...
...          ...                                                ...
60959    culture  Сериал «Ведьмак» стал самым запрашиваемым сери...
60960     social  Пилот одной из российских авиакомпаний найден ...
60961       army  В Свердловской области российские военные пред...
60962     social  В столице Ингушетии, Магасе, трое злоумышленни...
60963   business  Несмотря на приближение Нового года, последние...

[60964 rows x 2 columns]

In [ ]:
records = []
with open("/content/gazeta_val.jsonl", "r") as r:
    for line in r:
        records.append(json.loads(line))

In [12]:
df_val = pd.DataFrame(columns=('teg','text'))

In [13]:
for i in range(len(records)):
  fg = records[i].get('url')
  result = re.sub('/', '', re.findall(r'/\w+', fg)[1])
  df_val.loc[i, 'teg'] = result
  fg1 = records[i].get('text')
  df_val.loc[i, 'text'] = fg1
  

df_val

           teg                                               text
0     business  В 2020 году инфляция в России составит 3,5-4%,...
1         army  Глава Белого дома Дональд Трамп выразил надежд...
2     politics  Председатель Союза еврейских религиозных общин...
3      culture  Первой песней наступившего 2020 года на Первом...
4     politics  Выражение «глубинное государство», пришедшее и...
...        ...                                                ...
6364  business  33% опрошенных россиян убеждены, что дети школ...
6365  politics  Глава белорусских католиков митрополит Тадеуш ...
6366  politics  Турецкая делегация направилась в Москву для пе...
6367  business  Для желающих приобрести инвестиционные продукт...
6368  politics  Белорусский президент Александр Лукашенко увол...

[6369 rows x 2 columns]

In [17]:
print('df_train')
print('-' * 50)
print(df_train.info())
print('-' * 50)
print('df_test')
print('-' * 50)
print(df_test.info())
print('-' * 50)
print('df_val')
print('-' * 50)
print(df_val.info())

df_train
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60964 entries, 0 to 60963
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   teg     60964 non-null  object
 1   text    60964 non-null  object
dtypes: object(2)
memory usage: 3.4+ MB
None
--------------------------------------------------
df_test
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6793 entries, 0 to 6792
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   teg     6793 non-null   object
 1   text    6793 non-null   object
dtypes: object(2)
memory usage: 417.2+ KB
None
--------------------------------------------------
df_val
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6369 entries, 0 to 6368
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   teg     6369 non-null   object
 1   text    6369 non-null   object
dtypes: object(2)
memory usage: 407.3+ KB
None

#Добрый вечер, извените.
Провалындался 3 дня с подготовкой данных.
Напишите пожалуйста не принято, я через неделю сдам